# User Agents Generators

In [1]:
import numpy as np
import pandas as pd

from useragents import USER_AGENTS as user_agents

In [2]:
df = pd.DataFrame()

In [3]:
df['user_agents'] = user_agents

In [4]:
df['windows'] = df['user_agents'].apply(lambda x: int("Windows" in x))
df['macintosh'] = df['user_agents'].apply(lambda x: int("Macintosh" in x))
df['linux'] = df['user_agents'].apply(lambda x: int(("Linux" in x) and ("Android" not in x)))
df['iphone'] = df['user_agents'].apply(lambda x: int("iPhone" in x))
df['android'] = df['user_agents'].apply(lambda x: int("Android" in x))
df['ipad'] = df['user_agents'].apply(lambda x: int("iPad" in x))
df = df.loc[df.sum(axis=1) == 1]
df.reset_index(drop=True, inplace=True)

In [5]:
df['mobile'] = np.where(df[['iphone', 'android', 'ipad']].sum(axis=1) == 1, 1, 0)
df['desktop'] = np.where(df[['windows', 'macintosh', 'linux']].sum(axis=1) == 1, 1, 0)

In [6]:
sum(df[['mobile', 'desktop']].sum(axis=1) == 1) / len(df)

1.0

In [7]:
df[['windows', 'iphone', 'android', 'macintosh', 'ipad', 'linux']].sum().sum() / len(df)

1.0

TypeError: pivot() missing 1 required argument: 'columns'

In [9]:
df.to_csv("user_agents.csv", index=False)

In [10]:
df.to_json('user_agents.json')

In [11]:
df0 = pd.read_json("user_agents.json")

In [27]:
df0.sample(1, random_state=None)['user_agents'].values[0]

'Mozilla/5.0 (Windows NT 6.2) AppleWebKit/534.54.16 (KHTML, like Gecko) Version/5.1.4 Safari/534.54.16'

In [25]:
class UserAgents:

    def __init__(self, json_path: str) -> None:
        self.df: pd.DataFrame = pd.read_json(json_path)

    @staticmethod
    def _get(df, random_state: int = None) -> str:
        user_agents = df.sample(
            1, random_state=random_state
            )['user_agents'].values[0]
        return user_agents

    def get(self, random_state: int = None) -> str:
        """
        Get a random user agents.
        """
        return self._get(self.df, random_state)

    def get_by_device_or_os(self, device_or_os: str, random_state: int = None) -> str:
        """
        Get a random user agents for a given device.
        """
        df = self.df.query(f"{device} == 1")
        return self._get(df, random_state)

    def get_by_os(self, os: str, random_state: int = None) -> str:
        """
        Get a random user agents for a given operating system (OS).
        """
        df = self.df.query(f"{}")
        return

In [31]:
device = "iphone"
df.query(f"{device} == 1")

,user_agents,windows,macintosh,linux,iphone,android,ipad,mobile,desktop
462,Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_2 like ...,0,0,0,1,0,0,1,0
657,Mozilla/5.0 (iPhone; CPU iPhone OS 10_2_1 like...,0,0,0,1,0,0,1,0
699,Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_1 like...,0,0,0,1,0,0,1,0
726,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like...,0,0,0,1,0,0,1,0
812,Mozilla/5.0 (iPhone; CPU iPhone OS 9_2 like Ma...,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...
7305,Mozilla/5.0 (iPhone; U; CPU iPhone OS 5_1_1 li...,0,0,0,1,0,0,1,0
7307,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_2_1 like...,0,0,0,1,0,0,1,0
7316,Mozilla/5.0 (iPod; U; CPU iPhone OS 221 like M...,0,0,0,1,0,0,1,0
7317,Mozilla/5.0 (iPhone; CPU iPhone OS 9_2 like Ma...,0,0,0,1,0,0,1,0
7318,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_0 like M...,0,0,0,1,0,0,1,0